@tailwind base;
@layer base {
  body {
    @apply bg-neutral text-primary dark:bg-primary dark:text-neutral font-sans;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
}
@tailwind components;
@tailwind utilities;
@layer components {
  .typewritter-animation {
    animation: typing 2s steps(11), blink 1s infinite step-end alternate;
    display: inline-block;
    white-space: nowrap;
    border-right: 4px solid rgb(71 146 252);
    width: 11ch;
    overflow: hidden;
  }
  @keyframes typing {
    from {
      width: 0;
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
}
